@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*sdf
<form method="post" action1="/account/login">
    @Html.AntiForgeryToken()
    <input name="UserNameOrEmailAddress" />
    <input name="Password" type="password" />
    <input name="RememberClient" value="true" type="checkbox" checked />
    <input type="submit" value="提交2" />
</form>*@
@{
    string titile = "客户服务平台-登陆-元凯办公";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>@titile</title>
    <link href="/_content/ZLJ.Web.Customer/css/bootstrap.min.css" rel="stylesheet">
    <link href="/_content/ZLJ.Web.Customer/css/a3common.css" rel="stylesheet">
    <link href="/_content/ZLJ.Web.Customer/css/login.css" rel="stylesheet">
    <link href="/_content/ZLJ.Web.Customer/css/font_43459_lbtux0zjkr6yldi.css" rel="stylesheet">
</head>
<body>
    <div id="main" class="main-warp">
        <div class="main-content">
            <div class="formDiv">

                <h2 class="text-center">@titile</h2>

                @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
                {
                    <div style="color:red; text-align:center;" >
                       @ViewBag.ErrorMsg
                    </div>
                }
                <form id="loginForm" method="post">
                    @Html.AntiForgeryToken()
                    <div class="dataform">
                        <div class="input-warp gap">
                            <span class="input-icon iconfont icon-yonghu1"></span>
                            <input id="tenancyName" name="TenancyName" type="text" class="inputs" value="default" placeholder="租户名" maxlength="64">
                        </div>
                        <div class="error-content">
                            <span id="tenancyNameErr" class="errMsg"></span>
                        </div>

                        <div class="input-warp gap">
                            <span class="input-icon iconfont icon-yonghu1"></span>
                            <input id="userName" name="UserNameOrEmailAddress" type="text" class="inputs" placeholder="手机号码或邮箱" maxlength="64">
                        </div>
                        <div class="error-content">
                            <span id="userNameErr" class="errMsg"></span>
                        </div>

                        <div class="input-warp gap">
                            <span class="input-icon iconfont icon-baomi"></span>
                            <input class="inputs" type="password" name="Password" placeholder="密码" id="pwd" maxlength="20">
                        </div>
                        <div class="error-content">
                            <span id="passwordErr" class="errMsg"></span>
                        </div>

                        <div class="btn-warp gap">
                            <div class="text-center">
                                <input type="hidden" value="jsform" id="_app" />
                                <button type="submit" id="btnLogin" class="btn btn-block lgbtn blue">登录</button>
                            </div>
                        </div>
                        <div class="gap">

                            <div class="pull-right" style="margin-top: 6px"><a href="javascript:;" class="link">忘记密码</a><span class="split-space">|</span><a href="register.html" class="link">新用户注册</a></div>

                            <div class="pretty-box">
                                <input type="checkbox" value="true" name="RememberClient" id="remember" checked class="">
                                <label for="remember" style="font-weight: normal">记住我</label>
                            </div>
                        </div>
                        <div class="biggap third-party-title">
                            <h5 class="text-center"><span>第三方账号登录</span></h5>
                        </div>
                        <div class="third-auth">

                            <a title="用钉钉登录" class="dt" href="javascript:;"></a>
                            <a title="用微信账户登录" class="wx" href="javascript:;"></a>
                            <a title="用QQ账户登录" class="qq" href="javascript:;"></a>

                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
