@if (MenuItem.IsVisible)
{
    @if (MenuItem.Items != default && MenuItem.Items.Any())
    {
        <SubMenu Key="@MenuItem.Name">
            <TitleTemplate>
                <Icon Type="@(MenuItem.Icon)" Theme="outline" Style="font-size:1.1rem;"></Icon>
                <span style="margin-left:6px">@MenuItem.DisplayName</span>
            </TitleTemplate>
            <ChildContent>
                @foreach (var item in MenuItem.Items)
                {
                    <MainMenuItem MenuItem="item" />
                }
            </ChildContent>
        </SubMenu>
    }
    else
    {
        <MenuItem Key="@MenuItem.Name" >
          
            <IconTemplate>
                <Icon Type="@(MenuItem.Icon)" Theme="outline" Style="font-size:1.1rem;"></Icon>
            </IconTemplate>
            <ChildContent>
                <MenuLink Href="@MenuItem.Url">@MenuItem.DisplayName</MenuLink>
            </ChildContent>
        </MenuItem>
    }
}
@code {
    [Parameter]
    public Abp.Application.Navigation.UserMenuItem MenuItem { get; set; }
}
