@using System.Text.RegularExpressions
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<HeadContent>
    <link antblazor-css> 
    @* 新版本已经内嵌了 *@
    @* <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" /> *@
    @* <link href="_content/AntDesign.ProLayout/css/ant-design-pro-layout-blazor.css" rel="stylesheet" /> *@
  
    <link href="@Assets["app.css"]" rel="stylesheet" />


    @* 下面这个引用不了，也没必要 *@
    @* <link href="_content/ZLJ.Admin.CoreRCL/css/site.css" rel="stylesheet"> *@

    @* <link href="/app.css" rel="stylesheet" /> *@
</HeadContent>

            <MyPageTitle  />
<div style="height:100vh">
    <ErrorBoundary @ref="errorBoundary">
        <ChildContent>

            <Layout>




                <Sider @bind-Collapsed=@MainMenuCollapsed NoTrigger Collapsible>
                    <div class="logo" style="height:29px; margin:15px;">
                        <img src="bxjglogo.png" style="width:37px; height:30px; float:left;" />

                        @if (!MainMenuCollapsed)
                        {
                            <h3 style="    color: #ddd;    float: left;    margin-left: 0.5rem;    line-height: 35px;    font-size: 1.2rem;">
                                小管印
                            </h3>
                        }
                    </div>
                    @* 菜单需要交互式 *@
                    <MainMenu Collapsed=MainMenuCollapsed />
                </Sider>
                <Layout>
                    <Header Class="zlj-main-head">
                        <Flex Gap="FlexGap.Small" Vertical=false Justify="FlexJustify.SpaceBetween" Align="FlexAlign.Center" Style="height:100%;">
                            @* 左边 *@
                            <Flex Gap="FlexGap.Small" Vertical=false Align="FlexAlign.Center">
                                @if (MainMenuCollapsed)
                                {
                                    <Icon Type="menu-unfold" Theme="IconThemeType.Outline" Class="caidan-kaiguan" OnClick="toggle" />
                                }
                                else
                                {
                                    <Icon Type="menu-fold" Theme="IconThemeType.Outline" Class="caidan-kaiguan" OnClick="toggle" />
                                }
                                @* <MainBreadcrumb style="padding-left:1rem;" /> *@
                            </Flex>
                            @* 右边 *@
                            <HeaderRight />
                        </Flex>
                    </Header>
                    <Content Style="padding-bottom:2.7vh;">
                        @if (auth)
                        {
                            <ReuseTabs Class="zlj-main-body-box" TabPaneClass="zlj-main-tab-head-item" />
                        }
                        else
                        {
                            <div class="zlj-main-body-box-no-auth">@Body</div>
                        }
                    </Content>
                    <Footer Style="text-align: center; padding:0.3rem 0; color:rgba(100,100,100,0.7); height:3.5vh; position:fixed; z-index:999; width:100%; bottom:0;">
                        Copyright ©1900-2024 变形精怪, All Rights Reserved | Power by <a href="https://dotnet.microsoft.com/zh-cn/apps/aspnet" target="_blank">asp.net @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</a> / <a href="https://aspnetboilerplate.com" target="_blank">abp @typeof(Abp.AbpBootstrapper).Assembly.GetName().Version</a> / <a href="https://antblazor.com" target="_blank">antblazor @typeof(AntDesign.AntComponentBase).Assembly.GetName().Version</a> / <a href="https://gitee.com/bxjg1987_admin/abp" target="_blank">源码</a>
                    </Footer>
                </Layout>
            </Layout>
        </ChildContent>
        <ErrorContent>
            <Flex Gap="FlexGap.Small" Style="height:50vh;" Align="FlexAlign.Center" Justify="FlexJustify.Center" Vertical="true">
                <div>
                    ┗|｀O′|┛ 嗷~~程序出错啦！若多次输出错，请联系系统管理员。 <br />
                </div>
                <pre>   @XianshiCuowu(context) </pre>


                <Button Type="@ButtonType.Primary" OnClick="fanhui">返回</Button>
            </Flex>
        </ErrorContent>
    </ErrorBoundary>

</div>

<SectionContent SectionName="bottom-scripts">
    <script antblazor-js></script>
    <script src="@Assets["echarts.5.4.3.min.js"]"></script>
    <script type="module" src="@Assets["_content/Blazor.ECharts/core.js"]"></script>
    @* <script>
        //.net10 bug https://github.com/dotnet/aspnetcore/issues/64009#issuecomment-3534259401
        (function() {
            const originalFetch = window.fetch;
            window.fetch = function(resource, options = {}) {
                // Check if the resource is a .wasm file
                const url = typeof resource === 'string' ? resource : resource.url;
                if (url && url.toLowerCase().endsWith('.wasm')) {
                    // Force cache mode for .wasm files
                    options = {
                        ...options,
                        cache: 'force-cache'
                    };
                }
                return originalFetch.call(this, resource, options);
            };
        })();
    </script> *@
    @* <script src="/app.js"></script> *@
</SectionContent>
@code {
    string XianshiCuowu(Exception ex)
    {
#if DEBUG
    return ex.GetBaseException().StackTrace + Environment.NewLine;
#else
        return Environment.NewLine;
#endif

    }
    private ErrorBoundary? errorBoundary;
    void fanhui()
    {
        errorBoundary?.Recover();
    }
    // [SupplyParameterFromQuery]
    // public int mmc { get; set; }

    // bool collapsed => mmc > 0;
    bool auth = false;

    [Inject]
    public AuthenticationStateProvider AuthStateProvider { get; set; }


    bool MainMenuCollapsed;

    //string LayoutStyle => "background-color:#f3f6fb; margin-left:" + (MainMenuCollapsed ? 80 : 200) + "px;transition-property: margin-left";

    void toggle()
    {
        MainMenuCollapsed = !MainMenuCollapsed;
    }
    [Inject]
    public ModalService messageService { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var zt = await AuthStateProvider.GetAuthenticationStateAsync();
        auth = zt != null && zt.User != default && zt.User.Identity.IsAuthenticated;
        if (RendererInfo.Name.Contains("server", StringComparison.OrdinalIgnoreCase))
        {
            _ = messageService.WarningAsync(new ConfirmOptions
            {
                Title = "温馨提示",
                Content = "首次访问系统时，后台会做初始化处理，此时界面临时卡顿属于正常情况，约1分钟后刷新页面即可。"
            });
        }
    }
    // [Inject]
    // public IJSRuntime JSRuntime { get; set; }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     // if (firstRender)
    //     //{
    //     //Console.WriteLine("xxxxxxxxxxxxxxxxxxxxxxx");
    //     await JSRuntime.InvokeVoidAsync("hideLoadingDiv");
    //     //}
    // }
}