<CascadingValue Value="@zhongjie">


<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(ZLJ.Web.Admin.Shared.AdminMainLayout)">
                <NotAuthorized>
                    权限验证失败！
                    <AuthenticationRedirectory LoginPath="/account/login?appKey=admin" />
                </NotAuthorized>
                <Authorizing>
                    正在验证权限...
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>未找到页面</PageTitle>
            <LayoutView Layout="@typeof(ZLJ.Web.Admin.Shared.AdminMainLayout)">
                <p role="alert">抱歉！没有找到页面，请联系系统管理员。</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
</CascadingValue>