
@typeparam TAppService where TAppService : ICrudBaseAppService<TEntityDto, TPrimaryKey, TGetAllInput, TCreateInput, TUpdateInput>
@typeparam TEntityDto where TEntityDto : IEntityDto<TPrimaryKey>
@typeparam TPrimaryKey
@typeparam TGetAllInput
@typeparam TCreateInput where TCreateInput : new()
@typeparam TUpdateInput where TUpdateInput : IEntityDto<TPrimaryKey>
@typeparam TCreateComponent where TCreateComponent : AbpCreateBaseComponent<TAppService,  TEntityDto,TPrimaryKey, TGetAllInput, TCreateInput, TUpdateInput>

@{
    RenderFragment renderFragment =@<Template>
        <Checkbox @bind-Checked="@IsSaveAndContinue">保存后继续新增</Checkbox>
        <Button OnClick="Reset">重置</Button>
        <Button OnClick="SaveCreateClick" Type="@ButtonType.Primary" Loading="@IsSaving" Disabled="@IsSaving" Icon="@IconType.Outline.Save">保存</Button>
        <Button OnClick="Close">取消</Button>
    </Template>;
}
@* 必须给个titla，否则初始化时引用启用了拖拽会报错 *@
<Modal @ref="ModalRef" DestroyOnClose="true" Footer="renderFragment" Title="@("新增"+ CreateComponent?.FuncName)" @bind-Visible="isVisible" Draggable="true">
   <DynamicComponent Type="@typeof(TCreateComponent)" Parameters="@Parameters" @ref="dcRef" />
</Modal>