@using BXJG.Utils.RCL.Helpers
@using AntDesign
@inject FileHelper FileHelper

 @if (IsMultiple)
    {
        <div style=@(IsShow ? "" : "display: none;")>
            <ImagePreviewGroup @bind-PreviewVisible="PreviewVisible">
                @if(FileIds!=null)
                { 
                    foreach (var fileId in FileIds)
                    {
                        <Image Width="@Width"
                        Src="@FileHelper.BuildDownloadUrlThum(fileId)"
                        PreviewSrc="@FileHelper.BuildDownloadUrl(fileId)"
                        Preview="@Preview" />
                    }
                }
                @if(FileTempPaths!=null)
                { 
                    @foreach (var fileId in FileTempPaths)
                    {
                        <Image Width="@Width"
                        Src="@FileHelper.BuildTempFileUrl(fileId)"
                        Preview="@Preview" />
                    }
                }
            </ImagePreviewGroup>
        </div>
    }
    else if (IsShow)
    {
        if (FileIds != null && FileIds.Any())
        {
            <Image PreviewVisible="false"
            Width="@Width"
            Src="@FileHelper.BuildDownloadUrlThum(FileIds[0])"
            Preview="@Preview"
            OnClick="@OnImageClick" />
        }
        else if (FileTempPaths!=null&& FileTempPaths.Any())
        {
            <Image PreviewVisible="false"
            Width="@Width"
            Src="@FileHelper.BuildTempFileUrl(FileTempPaths[0])"
            Preview="@Preview"
            OnClick="@OnImageClick" />
        }

        <div style="display:none;">
            @if (shouldRenderPreviewImages)
            {
                <ImagePreviewGroup @bind-PreviewVisible="PreviewVisible">
                    @if (FileIds != null && FileIds.Any())
                    {
                                @foreach (var fileId in FileIds)
                                {
                                    <Image Src="@FileHelper.BuildDownloadUrlThum(fileId)"
                                            PreviewSrc="@FileHelper.BuildDownloadUrl(fileId)" />
                                }
                    }
                    @if (FileTempPaths!=null&& FileTempPaths.Any())
                    {
                                @foreach (var fileId in FileTempPaths)
                                {
                                    <Image Src="@FileHelper.BuildTempFileUrl(fileId)" />
                                }
                    }
                </ImagePreviewGroup>
            }
        </div>
    }
    else
    {
    <div style="display: none;">
            <ImagePreviewGroup PreviewVisible="PreviewVisible" PreviewVisibleChanged="PreviewVisibleChanged">
            @if (FileIds != null && FileIds.Any())
            {
                @foreach (var fileId in FileIds)
                {
                    <Image Width="@Width"
                    Src="@FileHelper.BuildDownloadUrlThum(fileId)"
                    PreviewSrc="@FileHelper.BuildDownloadUrl(fileId)"
                    Preview="@Preview" />
                }

            }
            @if (FileTempPaths!=null&& FileTempPaths.Any())
            {
                @foreach (var fileId in FileTempPaths)
                {
                    <Image Width="@Width"
                    Src="@FileHelper.BuildTempFileUrl(fileId)"
                    PreviewSrc="@FileHelper.BuildTempFileUrl(fileId)"
                    Preview="@Preview" />
                }
            }
        </ImagePreviewGroup>
        </div>
    }

@code {

  

    /// <summary>
    /// 뜩暠친駕
    /// true賈痰뜩暠친駕 false賈痰宮꿍친駕
    /// </summary>
    [Parameter]
    public bool IsMultiple { get; set; } = false;

    /// <summary>
    /// 灌쏵흙渡응珂돨暠튬角뤠鞫刻
    /// 꽝옘 https://antblazor.com/zh-CN/components/image#components-image-demo-controlled-preview 
    /// </summary>
    [Parameter]
    public bool IsShow { get; set; } = true;

    [Parameter]
    public List<Guid> FileIds { get; set; } = new();

    [Parameter]
    public List<string> FileTempPaths { get; set; } = new();


    [Parameter]
    public string? Width { get; set; }

    [Parameter]
    public bool Preview { get; set; } = true;


    [Parameter]
    public bool PreviewVisible { get; set; }

    [Parameter]
    public EventCallback<bool> PreviewVisibleChanged { get; set; }


    private bool shouldRenderPreviewImages;

    private async Task OnImageClick(MouseEventArgs args)
    {

        shouldRenderPreviewImages = true;



        await Task.Delay(1);
        PreviewVisible = true;

    }
}
