@using BXJG.Utils.Application.Share.Dtos
@using Microsoft.AspNetCore.Components.Sections
@using ZLJ.Application.Share.AssociatedCompany
@inherits DetailUpdateBaseComponent< AssociatedCompanyDto, long,  AssociatedCompanyEditDto>
<SectionContent SectionName=@($"{Master}-detail-update-title")>
    <Icon Type=@detailUpdateIcon Theme=@IconThemeType.Outline />
    @(detailUpdateText)@(FuncName)
</SectionContent>
<SectionContent SectionName=@($"{Master}-detail-update-body")>

    @if (isEdit)
    {
        <Form @ref="frm" ValidateOnChange="true" Model="editDto" LabelColSpan="5" WrapperColSpan="19" OnFinish="OnFinish">
            <FormItem>
                <Input @bind-Value="@context.Name" AllowClear />
            </FormItem>
            <FormItem>
                <Input @bind-Value="@context.LinkMan" AllowClear />
            </FormItem>
            <FormItem>
                <Input @bind-Value="@context.LinkPhone" AllowClear />
            </FormItem>
            <FormItem Label="所属地区">
                <AdministrativeTreeSelect @bind-TreeIdNullable=context.AreaId IsKeyId AllowClear />
            </FormItem>
            <FormItem>
                <Input @bind-Value="@context.Address" AllowClear />
            </FormItem>
            <FormItem Label="等级">
                <TreeSelectDataDictionary @bind-TreeIdNullable=context.LevelId IsKeyId AllowClear ParentName="kehuJibie" />
            </FormItem>
            <FormItem Label="是否启用">
                <Switch @bind-Checked=context.IsActive />
            </FormItem>
        </Form>
    }
    else
    {
        <Descriptions Bordered Size="DescriptionsSize.Small">
            <DescriptionsItem Title="名称">
                @dto.Name
            </DescriptionsItem>
            <DescriptionsItem Title="联系人">
                @dto.LinkMan
            </DescriptionsItem>
            <DescriptionsItem Title="联系人电话">
                @dto.LinkPhone
            </DescriptionsItem>
            <DescriptionsItem Title="所属地区">
                @dto.AreaDisplayName
            </DescriptionsItem>
            <DescriptionsItem Title="地址">
                @dto.Address
            </DescriptionsItem>
            <DescriptionsItem Title="等级">
                @dto.LevelDisplayName
            </DescriptionsItem>
            <DescriptionsItem Title="是否启用">
                <Switch Checked=dto.IsActive Disabled />
            </DescriptionsItem>
        </Descriptions>
    }
</SectionContent>
<SectionContent SectionName=@($"{Master}-detail-update-btns")>
    @if (IsShowDelete)
    {
        <Popconfirm Title="确定删除此项吗?" OnConfirm=BtnDeleteClick>
            <Button Loading=isDeleting Danger=true>删除</Button>
        </Popconfirm>
    }
    <ButtonGroup>
        @if (IsShowRefresh)
        {
            <Button OnClick="BtnRefreshClick" Loading=isRefreshing Disabled=IsBusy>刷新</Button>
        }
        @if (IsShowBeginEdit)
        {
            <Button OnClick="BtnBeginEditClick" Loading=isFormIniting Type="@ButtonType.Primary">修改</Button>
        }
        else if (IsShowUpdate)
        {
            <Button OnClick="BtnResetClick" Loading=isReseting Disabled=IsBusy Icon="@IconType.Outline.Redo">重置</Button>
            <Button OnClick="BtnCancelEditClick" Disabled=IsBusy Icon="@IconType.Outline.Rollback">放弃修改</Button>
            <Button OnClick="BtnUpdateClick" Type="@ButtonType.Primary" Loading="@isUpdating" Disabled="@IsBusy" Icon="@IconType.Outline.Save">保存</Button>
        }
    </ButtonGroup>
</SectionContent>