@page "/post"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))

@using ZLJ.Application.Share.Post


@* @attribute [ReuseTabsPageTitle("员工岗位权限")] *@
@attribute [Authorize(PermissionNames.AdministratorBaseInfoPost)]
@inherits AbpListBaseComponent<IPostAppService, PostDto, int, PagedAndSortedResultRequest< PagedPostResultRequestDto>, CreatePostDto, PostEditDto>

<Space Direction="DirectionVHType.Vertical" Style="width:100%;">
    <SpaceItem>
        <GridRow Justify="space-between">
            @* 左侧 *@
            <GridCol Span="6">
                @if (createIsGranted)
                {
                    <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" OnClick="ShowCreateDialog">新增</Button>
                }
                @if (deleteIsGranted)
                {
                    <Popconfirm Title="确定删除已选择的项吗?"
                                OnConfirm="Delete"
                                OnCancel="HideDeleteConfirm">
                        <Button Type="@ButtonType.Default" Icon="@IconType.Outline.Clear" Danger="true" Disabled="@ShouldDisableDelete">删除</Button>
                    </Popconfirm>
                }
                <Button OnClick="AddRandomData" Disabled=sj>新增一堆随机数据</Button>
            </GridCol>
            @* 右侧 *@
            <GridCol Span="18" Flex=@("none")>
                <Space>
                    <SpaceItem>
                        <RadioGroup TValue="bool?" @bind-Value="@GetAllInput.Filter.IsStatic" OnChange="Search">
                            <Radio TValue="bool?" RadioButton="true" Value="@(default(bool?))">全部</Radio>
                            <Radio TValue="bool?" RadioButton="true" Value="@(true)">预设</Radio>
                            <Radio TValue="bool?" RadioButton="true" Value="@(false)">非预设</Radio>
                        </RadioGroup>
                    </SpaceItem>

                    <SpaceItem>
                        <Search Placeholder="请输入关键字..." @bind-Value="@Keywords" OnSearch="Search" AllowClear="true" ClassicSearchIcon="true" />
                    </SpaceItem>
                    <SpaceItem>
                      
                            <Tooltip Title="清空条件">
                                <Button Type="@ButtonType.Default" Icon="@IconType.Outline.Clear" OnClick="ReLoad"></Button>
                            </Tooltip>
                         
                
                    </SpaceItem>
                    <SpaceItem>
                      
                          
                            <Tooltip Title="刷新">
                                <Button Type="@ButtonType.Default" Icon="@IconType.Outline.Reload" OnClick="Refresh"></Button>
                            </Tooltip>
                    </SpaceItem>
                </Space>

            </GridCol>
        </GridRow>
    </SpaceItem>
    <SpaceItem>
        <Table @ref="table" 
               TItem="PostDto"
               Total="TotalCount"
               @bind-SelectedRows="SelectedItems"
               OnChange="OnQuery"
               DataSource="Items"
               PageIndex="PageIndex"
               PageSize="PageSize"
               Loading="IsLoading"
               HidePagination=false
               RemoteDataSource="true"
               RowKey="x=>x.Id"
               Size="TableSize.Small"
               Bordered="true"
               ScrollY="73.5vh">

            <Selection Key="@(context.Id.ToString())" />
            <PropertyColumn Property="c=>c.DisplayName" Sortable="true" DefaultSortOrder="SortDirection.Ascending" ShowSorterTooltip="false" />
            @* <PropertyColumn Property="c=>c.Name" /> *@
            <PropertyColumn Property="c=>c.IsStatic">
                <Switch @bind-Value="@context.IsStatic" Size="@InputSize.Small" Disabled="true"></Switch>
            </PropertyColumn>
            <PropertyColumn Property="c=>c.Description" />
            <ActionColumn Title="操作">
                @* ButtonGroup设置Size好像没啥卵用 *@
                <ButtonGroup Size="@ButtonSize.Small">
                    <Button Size="@ButtonSize.Small" Type="@ButtonType.Primary">详情</Button>
                    @if (updateIsGranted)
                    {
                        <Button Size="@ButtonSize.Small">修改</Button>
                    }
                    @if (deleteIsGranted)
                    {
                        <Popconfirm Title="确定删除此项吗?"
                                    OnConfirm="()=>Delete(context)"
                                    OnCancel="HideDeleteConfirm">
                            <Button Size="@ButtonSize.Small" Danger="true">删除</Button>
                        </Popconfirm>
                    }
                </ButtonGroup>
            </ActionColumn>
        </Table>
    </SpaceItem>
</Space>

@* <AbpCreateDialog TAppService="IPostAppService" TEntityDto="PostDto" TPrimaryKey="int"
                 TGetAllInput="PagedAndSortedResultRequest<PagedPostResultRequestDto>"
                 TCreateInput="CreatePostDto" TUpdateInput="PostEditDto" TCreateComponent="Create" 
>

</AbpCreateDialog>
 *@

@{
    RenderFragment renderFragment =@<Template>
        <SectionOutlet SectionName="dlg-btns-post" />
        <Button OnClick="CloseDialog">关闭</Button>
    </Template>;
}
<Modal DestroyOnClose="true" Footer="renderFragment"  @bind-Visible="isCreateDialogVisible" Draggable="true">
  <TitleTemplate>
        <Icon Type="plus" Theme="outline" />
        新增@(FuncName)
  </TitleTemplate>
    
  <ChildContent>
    <SectionOutlet SectionName="dlg-body-post" />
    <Create OnAddEnd="OnAddEnd" />
    </ChildContent>
</Modal>