@page "/admin/tongzhi"
@inherits BXJG.Utils.Notification.NotifyManager<User,UserManager,Role,ZLJ.App.Common.Notification.NotifyAppServie>



<MudGrid Style="position:sticky;top:72px;">
    <MudItem>
        <MudChipSet Class="mt-1" SelectedValues="yixuanze" Filter="true" Mandatory="true" SelectedValuesChanged="NamesChanged">
            @foreach (var define in defines)
            {
                <MudBadge Content="define.UnReadCount" Color="Color.Error" Overlap="true" Visible="define.UnReadCount>0">
                    <MudChip Default="define==currDefine" @key="define.Name" SelectedColor="Color.Primary" Tag="define" Value="define.Name" Text="@define.DisplayName" />
                </MudBadge>
            }
        </MudChipSet>
    </MudItem>
    <MudSpacer />
    <MudItem Class="mt-1">
        <MudChipSet Filter="true" SelectedValues="duquZhuangtais" SelectedChipChanged="async chip=> await base.ReadStateChanged((Abp.Notifications.UserNotificationState?)chip?.Value)">
            @*<MudChip SelectedColor="Color.Primary" Value="null" Text="И«Ії" />*@
            <MudChip SelectedColor="Color.Primary" Value="Abp.Notifications.UserNotificationState.Unread" Text="Оґ¶Б" />
            <MudChip SelectedColor="Color.Primary" Value="Abp.Notifications.UserNotificationState.Read" Text="ТС¶Б" />
        </MudChipSet>
    </MudItem>
    <MudItem>
        <MudTextField T="string" Clearable="true" Variant="Variant.Outlined" Margin="Margin.Dense" Value="base.condition.Keywords" Label="№ШјьЧЦЛСЛч" ValueChanged="KeywordsChanged" />
    </MudItem>
    <MudItem Class="mt-2">
        <MudTooltip Text="ЛўРВ">
            <MudIconButton Size="Size.Small"
                           OnClick="LoadMessagesAsync"
                           Icon="@Icons.Material.Outlined.Refresh"
                           Variant="@Variant.Filled" />
        </MudTooltip>

        <MudTooltip Text="ЗеїХМхјю">
            <MudIconButton Size="Size.Small"
                           Icon="@Icons.Material.Outlined.FilterListOff"
                           OnClick="ClearCondition"
                           Variant="@Variant.Filled" />
        </MudTooltip>
    </MudItem>
    <MudItem Class="mt-2">
        <MudTooltip Text="НЁЦЄЙиЦГ">
            <MudIconButton OnClick="OpenDialog" Icon="@Icons.Material.Filled.Settings" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small" />
        </MudTooltip>
    </MudItem>
</MudGrid>

@if (currDefine != default)
{
    <MudStack Class="mt-6 mb-4 pa-1 pr-5" Style="height:78vh; overflow:auto;">
        @foreach (var msg in messages)
        {
            var t = Type.GetType(currDefine.Attributes["ComponentTypeName"].ToString());
            var ps = new Dictionary<string, object> { { "Data", msg.TenantNotificationInfoData } };
            Color c = Color.Default;
            switch (msg.TenantNotificationInfoSeverity)
            {
                case Abp.Notifications.NotificationSeverity.Info:
                    c = Color.Info;
                    break;
                case Abp.Notifications.NotificationSeverity.Success:
                    c = Color.Success;
                    break;
                case Abp.Notifications.NotificationSeverity.Warn:
                    c = Color.Warning;
                    break;
                case Abp.Notifications.NotificationSeverity.Error:
                    c = Color.Error;
                    break;
            }


            <MudPaper @key="msg.UserNotificationInfoId" Class="pa-3"
                      Elevation="1">

                <MudStack Spacing="3">

                    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="3" >
                        <div style="width:5.2rem;">
                        <MudChip Size="Size.Small" Color="c" Variant="Variant.Outlined">@msg.TenantNotificationInfoSeverity</MudChip>
                        </div>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">·ўІјК±јдЈє@msg.CreateTimeStrЈЁ@msg.UserNotificationInfoCreationTime.ToString("yyyy-MM-dd HH:mm:ss")Ј©</MudText>
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">·ўІјИЛЈє@msg.CreateUserName</MudText>
                        <MudSpacer />
                        @if (msg.UserNotificationInfoState == Abp.Notifications.UserNotificationState.Read)
                        {
                            <MudText Typo="Typo.body2" Class="mud-text-secondary">ТС¶Б</MudText>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="async()=>await base.SetReadAsync(msg.UserNotificationInfoId )">±кјЗОЄТС¶Б</MudButton>
                        }
                    </MudStack>

                    <DynamicComponent Type="t" Parameters="ps" />
                </MudStack>
            </MudPaper>
        }
    </MudStack>
}
<MudStack Row="true" Justify="Justify.FlexEnd">
<MudPagination Variant="Variant.Filled" Count=" Convert.ToInt32( Math.Ceiling((double) base.total/condition.MaxResultCount))" SelectedChanged="Fanye" />
</MudStack>