@using CodeGenerator
@using RazorLight
@using BXJG.Common;
@using BXJG.Common.Extensions;
@inherits TemplatePage<ExecuteContext>
@{
    DisableEncoding = true;//禁止html编码，因为我们是做代码生成器
}
@using @(Model.Model.ApplicationShareNamespace)

@@inherits @(Model.Name).RCL.Components.CreateBaseComponent<@(Model.Model.DtoName), @(Model.Model.EditDtoName)>

<SectionContent SectionName=@($"{Master}-create-body")>
    <Form @ref="frm" ValidateOnChange="true" Model="createDto" LabelColSpan="5" WrapperColSpan="19" OnFinish="OnFinish">

   
            <FormItem>
            <Input @bind-Value="@context.Name" AllowClear />
        </FormItem>



        <FormItem>
            <Input @bind-Value="@context.LinkMan" AllowClear />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@context.LinkPhone" AllowClear />
        </FormItem>
        <FormItem Label="所属地区">
            <AdministrativeTreeSelect @bind-TreeIdNullable=context.AreaId IsKeyId AllowClear />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@context.Address" AllowClear />
        </FormItem>
        <FormItem Label="级别">
            <TreeSelectDataDictionary @bind-TreeIdNullable=context.LevelId IsKeyId AllowClear ParentId="10" />
        </FormItem>
        <FormItem Label="是否启用">
            <Switch @bind-Checked=context.IsActive />
        </FormItem>

    </Form>
</SectionContent>

<SectionContent SectionName=@($"{Master}-create-btns")>
    <Checkbox @bind-Checked=isSaveAndContinue>保存后继续新增</Checkbox>
    <Button OnClick="BtnResetClick" Icon=@IconType.Outline.Redo>重置</Button>
    <Button OnClick="BtnSaveClick" Type=@ButtonType.Primary Loading=isSaving Disabled=isSaving Icon=@IconType.Outline.Save>保存</Button>
</SectionContent>