@using CodeGenerator
@using RazorLight
@using BXJG.Common;
@using BXJG.Common.Extensions;
@inherits TemplatePage<ExecuteContext>
@{
    DisableEncoding = true;//禁止html编码，因为我们是做代码生成器
}
@("@using") @Model.Model.ApplicationShareNamespace

@@inherits ZLJ.RCL.Components.CreateBaseComponent<@Model.Model.DtoName, @Model.Model.CreateDtoName>

<SectionContent SectionName=@@($"{Master}-create-body")>
    <Form @@ref="frm" ValidateOnChange="true" Model="createDto" LabelColSpan="5" WrapperColSpan="19" OnFinish="OnFinish">
@foreach(var field in Model.Model.NormalFields)
{
    if(field.CSharpType == "bool"){
        <FormItem Label="@field.DisplayName">
            <Switch @@bind-Checked="context.@field.Name" />
        </FormItem>
    }
    else if(field.CSharpType == "decimal" || field.CSharpType=="float" || field.CSharpType=="double"){
        <FormItem Label="@field.DisplayName">
            <AntDesign.InputNumber @@bind-Value="context.@field.Name" 
                                @if(field.NumberPrecision.HasValue){
                                    @:Precision="@field.NumberPrecision"
                                }
                                @if(field.NumberMax.HasValue){
                                    @:Max="@(field.NumberMax)M"
                                }
                                @if(field.NumberMin.HasValue){
                                    @:Min="@(field.NumberMin)M"
                                }/>
        </FormItem>
    }
    else if(field.CSharpType == "int" || field.CSharpType=="long" || field.CSharpType=="byte"|| field.CSharpType=="short"){
        <FormItem>
            <AntDesign.InputNumber @@bind-Value="context.@field.Name"
                                @if(field.NumberMax.HasValue){
                                    @:Max="@(field.NumberMax)"
                                }
                                @if(field.NumberMin.HasValue){
                                    @:Min="@(field.NumberMin)"
                                }/>
        </FormItem>
    }
    else{    
        <FormItem>
            <Input @@bind-Value="context.@field.Name" AllowClear />
        </FormItem>
    }
}
    </Form>
</SectionContent>

<SectionContent SectionName=@@($"{Master}-create-btns")>
    <Checkbox @@bind-Checked=saveAndContinue>保存后继续新增</Checkbox>
    <Button OnClick="BtnResetClick" Icon=@@IconType.Outline.Redo>重置</Button>
    <Button OnClick="BtnSaveClick" Type=@@ButtonType.Primary Loading=isSaving Disabled=isSaving Icon=@@IconType.Outline.Save>保存</Button>
</SectionContent>