@using ZLJ.Application.Common.Share.Administrative

@using BXJG.Utils.Application.Share.Dtos
@using Microsoft.AspNetCore.Components.Sections
@using System.Linq
@using ZLJ.Application.Share.StaffInfo
@using ZLJ.RCL.Components.Post
@using ZLJ.Application.Common.Share.OU

@attribute [Authorize(PermissionNames.BXJGBaseInfoStaffInfoGet)]
@inherits DetailUpdateBaseComponent<StaffInfoDto, long, StaffInfoEditDto>

<SectionContent SectionName=@($"{Master}-detail-update-title")>
    <Icon Type=@detailUpdateIcon Theme=@IconThemeType.Outline />
    @(detailUpdateText)@(FuncName)
</SectionContent>
<SectionContent SectionName=@($"{Master}-detail-update-body")>


    <Form @ref="frm" ValidateOnChange="true" Model="editDto" LabelColSpan="6" WrapperColSpan="18" OnFinish="OnFinish" Loading="IsBusy">
        <GridRow>
            <GridCol Span="8">
                <FormItem Label="姓名">
                    @if (isEdit)
                    {
                        <Input @bind-Value="context.Name" AllowClear="true" />
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.Name
                        </span>
                    }
                </FormItem>
            </GridCol>
            <GridCol Span="8">
                <FormItem Label="性别">
                    @if (isEdit)
                    {
                        <EnumRadioGroup @bind-Value="context.Gender" ButtonStyle="RadioButtonStyle.Outline" />
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.GenderText
                        </span>
                    }
                </FormItem>
            </GridCol>


            <GridCol Span="8">
                <FormItem Label="是否启用">
                    @if (isEdit)
                    {
                        <Checkbox @bind-Value="context.IsActive" />
                    }
                    else
                    {
                        @* <span class="frm-field-readonly"> *@
                        <Checkbox @bind-Value="dto.IsActive" Disabled />
                        @* </span> *@
                    }
                </FormItem>
            </GridCol>

        </GridRow>
        <GridRow>
            <GridCol Span="8">
                <FormItem Label="手机号">
                    @if (isEdit)
                    {
                        <Input @bind-Value="context.PhoneNumber" AllowClear="true" />
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.PhoneNumber
                        </span>
                    }
                </FormItem>
            </GridCol>
            <GridCol Span="8">
                <FormItem Label="身份证号">
                    @if (isEdit)
                    {
                        <Input @bind-Value="context.IdNumber" AllowClear="true" />
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.IdNumber
                        </span>
                    }
                </FormItem>
            </GridCol>
            <GridCol Span="8">
                <FormItem Label="出生日期">
                    @if (isEdit)
                    {
                        <DatePicker @bind-Value="context.Birthday" />
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.Birthday?.ToString("d")
                        </span>
                    }
                </FormItem>
            </GridCol>

        </GridRow>
        <GridRow>
            <GridCol Span="8">
                <FormItem Label="邮箱地址">
                    @if (isEdit)
                    {
                        <Input @bind-Value="context.EmailAddress" AllowClear="true" />
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.EmailAddress
                        </span>
                    }
                </FormItem>
            </GridCol>
            <GridCol Span="8">
                <FormItem Label="所属地区">
                    @if (isEdit)
                    {
                        @* @context.AreaId *@

                        <AdministrativeTreeSelect @bind-TreeIdNullable=context.AreaId IsKeyId AllowClear />
                        @* <TreeSelectZlj2  TItemValue="long?" @bind-Value="context.AreaId" TGetTreeForSelectOutput="ZLJ.Application.Common.Share.Administrative.AdministrativeDto"></TreeSelectZlj2> *@
              

                      @*   <TreeSelect TItemValue="long?"
                                    TItem="AdministrativeDto"
                                    DataSource="ouds"
                                    ChildrenExpression="TreeSelectZlj2<AdministrativeDto,long?>. ChildrenExpression"
                                    KeyExpression="TreeSelectZlj2<AdministrativeDto,long?>.KeyExpression"
                                    @bind-Value="context.AreaId"
                                    IsLeafExpression="TreeSelectZlj2<AdministrativeDto,long?>.IsLeafExpression"
                                    ItemValue="TreeSelectZlj2<AdministrativeDto,long?>.ItemValue"
                                    TitleExpression="TreeSelectZlj2<AdministrativeDto,long?>.TitleExpression" /> *@
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.AreaDisplayName
                        </span>
                    }
                </FormItem>
            </GridCol>
            <GridCol Span="8">
                @* <FormItem LabelColSpan="3" WrapperColSpan="21"> *@
                <FormItem Label="地址">
                    @if (isEdit)
                    {
                        <Input @bind-Value="context.CurrentAddress" AllowClear="true" />
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.CurrentAddress
                        </span>
                    }
                </FormItem>
            </GridCol>
        </GridRow>
        <GridRow>
            <GridCol Span="8">
                <FormItem Label="入职日期">
                    @if (isEdit)
                    {
                        <DatePicker @bind-Value="context.InDate" AllowClear="true" />
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.InDate?.ToString("d")
                        </span>
                    }
                </FormItem>
            </GridCol>
            <GridCol Span="8">
                <FormItem Label="离职日期">
                    @if (isEdit)
                    {
                        <DatePicker @bind-Value="context.OutDate" AllowClear="true" />
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.OutDate?.ToString("d")
                        </span>
                    }
                </FormItem>
            </GridCol>
        </GridRow>
        <GridRow>
            <GridCol Span="24">
                <FormItem Label="部门" LabelColSpan="2" WrapperColSpan="22">
                    @* <ShowHiddenToggle IsVisible="isEdit">
                        <ChildContent>
                            <TreeSelectOu Multiple TreeCheckable @bind-TreeIds="context.OrganizationUnitIds" AllowClear="true" />
                        </ChildContent>
                        <HiddenContent>
                            <span class="frm-field-readonly">
                                @dto.BaseDto.OusText
                            </span>
                        </HiddenContent>
                    </ShowHiddenToggle> *@

                    @* @string.Join(",", context.OrganizationUnitIds)<br />@string.Join(",", dto.OrganizationUnitIds)  *@
                    @if (isEdit)
                    {
                        @* TreeCheckable *@
                        <TreeSelectOu Multiple @bind-TreeIds="context.OrganizationUnitIds" AllowClear="true" />
                        @* <TreeSelectZlj2 Multiple TItemValue="long" @bind-Values="context.OrganizationUnitIds" TGetTreeForSelectOutput="OUSelectDto"></TreeSelectZlj2> *@
                        @*  if (ouds != null && ouds.Any())
                        {
                            <TreeSelect TItemValue="long"
                            TItem="OUSelectDto"
                            DataSource="ouds" 
                            ChildrenExpression="node => node.DataItem.Children"
                            KeyExpression="node =>  node.DataItem.Id.ToString()" 
                            Multiple 
                                        @bind-Values="context.OrganizationUnitIds"
                            IsLeafExpression="node => node.DataItem.Children == null || !node.DataItem.Children.Any()"
                            ItemValue="x=>x.Id"
                            TitleExpression="x => x.DataItem.DisplayName" /> *@


                        @* <TreeSelect
            DataSource="ouds"
            @bind-Values="context.OrganizationUnitIds"
            Placeholder="Please select"
            ItemValue="item=>item.Id"
            ItemLabel="item=>item.DisplayName"
            AllowClear
            Multiple
            EnableSearch
            TreeDefaultExpandAll
            MatchedStyle="font-weight: bold"
            ChildrenExpression="node=>node.DataItem.Children"
            TitleExpression="node=>node.DataItem.DisplayName"
            KeyExpression="node=>node.DataItem.Id.ToString()"
                                        IsLeafExpression="node => node.DataItem.Children == null"></TreeSelect> 
                        }
*@
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.BaseDto.OusText
                        </span>
                    }

                </FormItem>
            </GridCol>
        </GridRow>
        <GridRow>
            <GridCol Span="24">
                <FormItem Label="岗位角色" LabelColSpan="2" WrapperColSpan="22">

                    @if (isEdit)
                    {
                        <CheckGroupPost @bind-Value="context.RoleNames"  />
                        @* <CheckGroupPost2 @bind-Names="context.RoleNames" /> *@
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.BaseDto.RolesText
                        </span>
                    }
                </FormItem>
            </GridCol>
        </GridRow>
        <GridRow>
            <GridCol Span="24">
                <FormItem Label="是否登录" LabelColSpan="2" WrapperColSpan="22">
                    @if (isEdit)
                    {
                        <Checkbox @bind-Value="context.IsEnableAccount" />
                    }
                    else
                    {
                        @* <span class="frm-field-readonly"> *@
                        <Checkbox Value="dto.IsEnableAccount" Disabled />
                        @* </span> *@
                    }
                </FormItem>
            </GridCol>
        </GridRow>
        @if (isEdit && context.IsEnableAccount || !isEdit && dto.IsEnableAccount)
        {
            <GridRow>
                <GridCol Span="8">
                    <FormItem Label="登录名">
                        <span class="frm-field-readonly">
                            @dto.BaseDto.UserName
                        </span>
                    </FormItem>
                </GridCol>
                <GridCol Span="8">
                    <FormItem Label="密码">
                        <LabelTemplate>
                            <Checkbox @bind-Value="context.ChangePassword" Label="改密码" Disabled="!isEdit" />
                        </LabelTemplate>
                        <ChildContent>
                            @if (isEdit && context.ChangePassword)
                            {
                                <InputPassword @bind-Value="context.Password" AllowClear="true" />
                            }
                            @* else
                        {
                            <span class="frm-field-readonly" style="display:inline-block; width:13rem;">*********</span>
                        } *@
                        </ChildContent>
                    </FormItem>
                </GridCol>
                <GridCol Span="8">
                    <FormItem>
                        <LabelTemplate>
                            <div class="frm-item-label-box">
                                <Tooltip>
                                    <TitleTemplate>多次登录失败后是否锁定？</TitleTemplate>
                                    <ChildContent>

                                        <Icon Style="" Type="@IconType.Outline.QuestionCircle" Width="1.1rem" Height="1.1rem" />

                                    </ChildContent>
                                </Tooltip>
                                登录锁定
                            </div>
                        </LabelTemplate>
                        <ChildContent>
                            @if (isEdit)
                            {
                                <Checkbox @bind-Value="context.IsLockoutEnabled"  />
                            }
                            else
                            {
                                <Checkbox @bind-Value="dto.IsLockoutEnabled" Disabled="!isEdit" />
                            }
                        </ChildContent>
                    </FormItem>
                </GridCol>
            </GridRow>
        }



        <GridRow>
            <GridCol Span="24">
                <FormItem Label="备注" LabelColSpan="2" WrapperColSpan="22">
                    @if (isEdit)
                    {
                        <Input @bind-Value="context.Remark" AllowClear="true" />
                    }
                    else
                    {
                        <span class="frm-field-readonly">
                            @dto.Remark
                        </span>
                    }
                </FormItem>
            </GridCol>
        </GridRow>

    </Form>


</SectionContent>
<SectionContent SectionName=@($"{Master}-detail-update-btns")>
    @if (IsShowDelete)
    {
        <Popconfirm Title="确定删除此项吗?" OnConfirm="BtnDeleteClick">
            <Button Loading=isDeleting Danger="true" Disabled="IsBusy">删除</Button>
        </Popconfirm>
    }
    <ButtonGroup>
        @if (IsShowRefresh)
        {
            <Button OnClick="BtnRefreshClick" Loading="isRefreshing" Disabled="IsBusy">刷新</Button>
        }
        @if (IsShowBeginEdit)
        {
            <Button OnClick="BtnBeginEditClick" Loading="isFormIniting" Type="@ButtonType.Primary" Disabled="IsBusy">修改</Button>
        }
        else if (IsShowUpdate)
        {
            <Button OnClick="BtnResetClick" Loading="isReseting" Disabled="IsBusy" Icon="@IconType.Outline.Redo">重置</Button>
            <Button OnClick="BtnCancelEditClick" Disabled="IsBusy" Icon="@IconType.Outline.Rollback">放弃修改</Button>
            <Button OnClick="BtnUpdateClick" Type="@ButtonType.Primary" Loading="isUpdating" Disabled="IsBusy" Icon="@IconType.Outline.Save">保存</Button>
        }
    </ButtonGroup>
</SectionContent>