@page "/employee"
@using ZLJ.Application.Share.StaffInfo
@attribute [ReuseTabsPage(Title = "员工档案")]


@attribute [Authorize(PermissionNames.BXJGBaseInfoStaffInfoGet)]

@inherits ListBaseComponent<StaffInfoDto, long, PagedAndSortedResultRequest<GetStaffInfoListCondition>>



<Flex Gap="FlexGap.Small" Vertical Justify="FlexJustify.SpaceBetween">
    @* 顶部工具栏 *@
    <Flex Gap="FlexGap.Small" Justify="FlexJustify.SpaceBetween">
        @* 左侧 *@
        <Flex Gap="FlexGap.Small">
            @if (createIsGranted)
            {
                <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" OnClick="BtnCreateClick" Disabled="IsBusy">新增</Button>
            }
            @if (deleteIsGranted)
            {
                <Popconfirm Title="确定删除已选择的项吗?" OnConfirm="BtnDeleteClick">
                    <Button Type="@ButtonType.Default" Icon="@IconType.Outline.Clear" Danger Disabled="ShouldDisableDelete" Loading="isDeleting">删除</Button>
                </Popconfirm>
            }
        </Flex>
        @* 右侧 *@
        <Flex Gap="FlexGap.Small">
            @*   <Input @bind-Value="GetAllInput.Filter.RentalPlanType" PlaceHolder="套餐类型" Width="90" />
            <Input @bind-Value="GetAllInput.Filter.IsActive" PlaceHolder="是否启用" Width="90" /> *@
            <div style="width:14.5rem;">
                <Search Placeholder="套餐名称/套餐说明/备注等关键字..." @bind-Value="Keywords" OnChange="BtnSearchClick" AllowClear="true" Disabled="IsBusy" />
            </div>
            <Tooltip Title="清空条件">
                <Button Type="@ButtonType.Default" Icon="@IconType.Outline.Clear" OnClick="BtnClearFilterClick" Disabled="IsBusy"></Button>
            </Tooltip>
            <Tooltip Title="刷新">
                <Button Type="@ButtonType.Default" Icon="@IconType.Outline.Reload" OnClick="BtnRefreshClick" Disabled="IsBusy"></Button>
            </Tooltip>
        </Flex>

    </Flex>

    @* 表格 *@
    <Table @ref="table"
           TItem="StaffInfoDto"
           Total="TotalCount"
           @bind-SelectedRows="SelectedItems"
           OnChange="OnQuery"
           DataSource="Items"
           PageIndex="PageIndex"
           PageSize="PageSize"
           Loading="IsLoading"
           RowClassName="@(r=>r.RowIndex%2==0?"even":"odd")"
           RemoteDataSource="true"
           RowKey="x=>x.Id"
           OnRow="OnRow"
           Size="TableSize.Small"
           Bordered="true" AutoHeight
           ScrollY="71.5vh"
           ScrollX="2400px">

        <Selection Width="50" Fixed="ColumnFixPlacement.Left" />
        <Column TData=StaffInfoDto Title="行号" Width="60" Fixed="ColumnFixPlacement.Left">
            @(PageSize * (PageIndex - 1) + Items.IndexOf(context) + 1)
        </Column>

        <PropertyColumn Property="c => c.Name" Sortable="true" ShowSorterTooltip="false" Width="110" Fixed="ColumnFixPlacement.Left" Align="ColumnAlign.Center" />
        <PropertyColumn Property="c => c.GenderText" Sortable="true" ShowSorterTooltip="false" Width="100" Align="ColumnAlign.Center" />
        <PropertyColumn Property="c => c.PhoneNumber" Sortable="true" ShowSorterTooltip="false" Width="140" Align="ColumnAlign.Center" />

            <PropertyColumn Property="c => c.Birthday" Sortable="true" ShowSorterTooltip="false" Width="140" Align="ColumnAlign.Center" Format="d" />
       
        <PropertyColumn Property="c => c.BaseDto.OusText" Align="ColumnAlign.Center" />
        <PropertyColumn Property="c => c.BaseDto.RolesText" Align="ColumnAlign.Center" />
                
                <PropertyColumn Property="c => c.IdNumber" Sortable="true" ShowSorterTooltip="false" Width="200" Align="ColumnAlign.Center" />
        <PropertyColumn Property="c => c.CurrentAddress" Sortable="true" ShowSorterTooltip="false" Width="300" />
        <PropertyColumn Property="c => c.InDate" Sortable="true" ShowSorterTooltip="false" Width="150" Align="ColumnAlign.Center" Format="d" />
        <PropertyColumn Property="c => c.OutDate" Sortable="true" ShowSorterTooltip="false" Width="150" Align="ColumnAlign.Center" Format="d" />
        <PropertyColumn Property="c => c.IsActive" ShowSorterTooltip="false" Sortable Width="7rem" Align="ColumnAlign.Center">
            <Switch @bind-Value="@context.IsActive" Size="@InputSize.Small" Disabled="true"></Switch>
        </PropertyColumn>
        <PropertyColumn Property="c => c.Remark" Sortable="false" ShowSorterTooltip="false" />

        <ActionColumn Title="操作" Width="160" Fixed="ColumnFixPlacement.Right" Align="ColumnAlign.Center">
            <ButtonGroup Size="@ButtonGroupSize.Small">
                <Button OnClickStopPropagation="true" Size="@ButtonSize.Small" Type="@ButtonType.Primary" OnClick="x => BtnItemDetailClick(context)">详情</Button><br />
                @if (updateIsGranted)
                {
                    <Button OnClickStopPropagation="true" Size="@ButtonSize.Small" OnClick="x => BtnItemEditClick(context)">修改</Button>
                }
                @if (deleteIsGranted)
                {
                    <div @onclick:stopPropagation="true">
                        <Popconfirm Title="确定删除此项吗?"
                                    OnConfirm="()=>BtnDeleteItemClick(context)">
                            <Button Size="@ButtonSize.Small" Danger="true">删除</Button>
                        </Popconfirm>
                    </div>
                }
            </ButtonGroup>
        </ActionColumn>
    </Table>
</Flex>

@*新增弹窗*@
@{
    RenderFragment renderFragment = @<Template>
        <SectionOutlet SectionName=@($"{this.GetHashCode()}-create-btns") />
        <Button OnClick="CloseCreateDialog">关闭</Button>
    </Template>;
}
<Modal DestroyOnClose="true"
       Footer="renderFragment"
       @bind-Visible="isCreateDialogVisible"
       Draggable="true" Width=@("70vw")
       Class="frm-dal"
       AfterClose="AfterCloseDialog">
    <TitleTemplate>
        <Icon Type="plus" Theme="IconThemeType.Outline" />新增@(FuncName)
    </TitleTemplate>
    <ChildContent>
        <SectionOutlet SectionName=@($"{this.GetHashCode()}-create-body") />
        <Create OnAddEnd="OnAddEnd" Master=@(this.GetHashCode()) />
    </ChildContent>
</Modal>

@*修改和详情弹窗*@
@{
    RenderFragment renderFragment1 = @<Template>
        <SectionOutlet SectionName=@($"{this.GetHashCode()}-detail-update-btns") />
        <Button OnClick="CloseUpdateOrDetail">关闭</Button>
    </Template>;
}
<Modal DestroyOnClose
       @bind-Visible="isShowDetailUpdate"
       Draggable="true"
       Title="详情"
       Width="@("70vw")"
       Class="frm-dal"
       Maximizable="false"
       AfterClose="AfterCloseDialog"
       Footer="renderFragment1"
       DefaultMaximized="false"
       MaxBodyHeight="86vh">
    <TitleTemplate>
        <SectionOutlet SectionName=@($"{this.GetHashCode()}-detail-update-title") />
    </TitleTemplate>
    <ChildContent>
        <SectionOutlet SectionName=@($"{this.GetHashCode()}-detail-update-body") />
        <DetailUpdate Id="@(detailUpdateId)" IsEdit="isEdit" OnDeleted="DetailDeleted" OnUpdated="DetailUpdated" Master="GetHashCode()" />
    </ChildContent>
</Modal>