

@typeparam TAppService where TAppService : ICrudBaseAppService<TEntityDto, TPrimaryKey, TGetAllInput, TCreateInput, TUpdateInput>
@typeparam TEntityDto where TEntityDto : IEntityDto<TPrimaryKey>
@typeparam TPrimaryKey
@typeparam TGetAllInput
@typeparam TCreateInput where TCreateInput : new()
@typeparam TUpdateInput where TUpdateInput : IEntityDto<TPrimaryKey>
@typeparam TCreateComponent where TCreateComponent : ZLJ.Web.Blazor.Components. AbpCreateBaseComponent<TAppService,  TEntityDto,TPrimaryKey, TGetAllInput, TCreateInput, TUpdateInput>


@{
    RenderFragment renderFragment =@<Template>
        <Checkbox @bind-Checked="@IsSaveAndContinue">保存后继续新增</Checkbox>
        <Button OnClick="Reset">重置</Button>
        <Button OnClick="SaveCreateClick" Type="@ButtonType.Primary" Loading="@IsSaving" Disabled="@IsSaving" Icon="@IconType.Outline.Save">保存</Button>
        <Button OnClick="Close">取消</Button>
    </Template>;
}

<Modal DestroyOnClose="true" Footer="renderFragment" @bind-Visible="Visible" >
    <DynamicComponent Type="@typeof(TCreateComponent)" Parameters="@Parameters" @ref="dc" />
</Modal>