<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <CascadingValue Value="routeData">
            @* antblazor多标签布局时，好像NotAuthorized不会被执行 直接在跳转组件中去处理吧 *@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(ZLJ.Web.Host.Shared.AdminMainLayout)">
                <NotAuthorized>
                    权限验证失败！
                </NotAuthorized>
                <Authorizing>
                    正在验证权限...
                </Authorizing>
            </AuthorizeRouteView>
            @* <AntDesign.Components.Authentication.AuthorizeReuseTabsRouteView RouteData="@routeData" DefaultLayout="@typeof(ZLJ.Web.Admin.Shared.AdminMainLayout)" /> *@
        </CascadingValue>


        @* <PageTitle>Title</PageTitle> *@
        @*  <RouteView RouteData="@routeData" DefaultLayout="@typeof(ZLJ.Web.Admin.Shared.AdminMainLayout)" /> *@
        @*   <BootstrapBlazorAuthorizeView RouteData="@routeData" DefaultLayout="@typeof(ZLJ.Web.Admin.BootstrapServer.Shared.AdminMainLayout)">
        </BootstrapBlazorAuthorizeView> *@
        @* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@

    </Found>
    <NotFound>
        <PageTitle>未找到页面</PageTitle>
        <LayoutView Layout="@typeof(ZLJ.Web.Host.Shared.AdminMainLayout)">
            <p role="alert">抱歉！没有找到页面，请联系系统管理员。</p>
        </LayoutView>
    </NotFound>
</Router>