@using Microsoft.AspNetCore.Components.Authorization
<Router AppAssembly="@typeof(Routes).Assembly">
    <Found Context="routeData">
          @* <CascadingValue Value="routeData"> *@
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.StaticLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>

        @* </CascadingValue> *@

        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>未找到页面</PageTitle>
        <LayoutView Layout="@typeof(Layout.StaticLayout)">
            <p role="alert">抱歉！没有找到页面，请联系系统管理员。</p>
        </LayoutView>
    </NotFound>
</Router>
<AntContainer />